<div class="container my-5">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-5 px-sm-0 mx-auto">
      <h3>スポット一覧</h3>
      <div id="all_map"></div>
      <table class="table table-hover">
        <% @spots.each do |spot| %>
          <tr>
            <td style= "width:50%"><%= link_to spot.address, spot_path(spot) %></td>
            <td style= "width:20%">レビュー <%= spot.reviews.count %>件</td>
            <td style= "width:30%">
              <span id="rate_<%= spot.id %>"></span>
              <script>
              $('#rate_<%= spot.id %>').raty({
                size: 20,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                half: true,
                readOnly: true,
                score: <%= spot.reviews.average(:rate).to_f.round(1) %>,
              });
              </script>
              <span><%= spot.reviews.average(:rate).to_f.round(1) %></span>
            </td>
          </tr>
        <% end %>
      </table>
      <%= paginate @spots %>
    </div>
  </div>
</div>
<%= javascript_include_tag "googlemap.js" %>
<script src= "https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAP_KEY"] %>&callback=initMap"></script>
<script src= "//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src= "//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" type:"text/javascript"></script>