<div class="container mb-5">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-5 px-sm-0 mx-auto">
      <%= link_to " 戻る", spots_path, class: "fas fa-chevron-left my-4" %>
      <h3><%= @spot.address %>の詳細情報</h3>
      <div id="show_map"></div>
      <div class="review_comments">
        <%= render "reviews/review_comments", reviews: @reviews, spot: @spot %>
      </div>
      <%= paginate @reviews %>
      <div id="review_error"></div>
      <div id="review_form">
        <%= render "reviews/review_form", review: @review, spot: @spot %>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "googlemap.js" %>
<script src= "https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAP_KEY"] %>&callback=initMap"></script>
<script src= "//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src= "//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" type:"text/javascript"></script>