<table class="table table-hover text-center">
  <thead>
    <tr>
      <th colspan="2">ユーザ</th>
      <th>投稿数</th>
      <th>フォロー</th>
      <th>フォロワー</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td class="align-middle">
          <%= link_to user_path(user) do %>
            <%= attachment_image_tag(user, :profile_image, size:"40x40", fallback: "cheer.jpeg", style: "border-radius: 50%;") %>
          <% end %>
        </td>
        <td class="align-middle"><strong><%= user.name %></strong></td>
        <td class="align-middle"><%= user.posts.count %></td>
        <td class="align-middle"><%= link_to user.followings.count, user_followings_path(user) %></td>
        <td class="align-middle"><%= link_to user.followers.count, user_followers_path(user) %></td>
        <td class="align-middle">
          <% if user != current_user %>
            <% if current_user.following?(user) %>
              <%= link_to "フォロー中", user_relationships_path(user), method: :delete, class: "fas fa-user-check btn btn-primary btn-sm", data: {confirm: "フォローを外しますか？"} %>
            <% else %>
              <%= link_to "フォローする", user_relationships_path(user), method: :post, class: "fas fa-user-plus btn btn-success btn-sm" %>
            <% end %>
          <% end %>
        </td>
        <td class="align-middle"><%= link_to "", user_path(user), class: "fas fa-search" %></td>
      </tr>
    <% end %>
  </tbody>
</table>