<div class="container px-5 my-5 px-sm-0">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 px-5 px-sm-0 mx-auto">
      <h3>登録情報編集</h3>
      <%= render "layouts/errors", obj: @user %>
      <%= form_with model: @user, local:true do |f| %>
        <div class="form-group mb-4 text-center">
          <%= attachment_image_tag @user, :profile_image, fallback: "cheer.jpeg", id: "preview", style: "width:200px;height:200px;border-radius:50%;margin-bottom:30px;" %>
          <%= f.attachment_field :profile_image %>
        </div>
        <div class="form-group">
          <%= f.label :name, "ユーザ名" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :email, "メールアドレス" %>
          <%= f.text_field :email, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :introduction, "自己紹介" %>
          <%= f.text_area :introduction, class: "form-control", rows: "5" %>
        </div>
        <div class="form-group text-center mt-5">
          <%= f.submit "更新", class: "btn btn-primary" %>
        </div>
      <% end %>
      <p class="text-center">退会する方は<%= link_to "こちら", leave_page_user_path(@user) %>からお手続きください</p>
    </div>
  </div>
</div>

<%= javascript_include_tag "preview.js" %>