<div class="container px-5 my-5 px-sm-0">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-5 px-sm-0 mx-auto">
      <%= attachment_image_tag @user, :profile_image, size:"100x100", fallback: "cheer.png" %>
      <table class="table">
        <tr>
          <th>ユーザー名</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <th>自己紹介</th>
          <td><%= @user.introduction %></td>
        </tr>
        <tr>
          <th>投稿数</th>
          <td><%= @user.posts.count %></td>
        </tr>
        <tr>
          <th>フォロー数</th>
          <td><%= link_to @user.followings.count, user_followings_path(@user) %></td>
        </tr>
        <tr>
          <th>フォロワー数</th>
          <td><%= link_to @user.followers.count, user_followers_path(@user) %></td>
        </tr>
      </table>
      <% if @user == current_user %>
        <%= link_to "Edit", edit_user_path(current_user), class: "btn btn-secondary" %>
      <% else %>
        <% if current_user.following?(@user) %>
          <%= link_to "フォロー外す", user_relationships_path(@user), method: :delete, class: "btn btn-primary" %>
        <% else %>
          <%= link_to "フォローする", user_relationships_path(@user), method: :post, class: "btn btn-success" %>
        <% end %>
      <% end %>
      <% if current_user != @user && current_user.following?(@user) && @user.following?(current_user) %>
        <%= link_to "#{@user.name}さんとのチャット", chat_path(@user), class: "btn btn-info" %></td>
      <% end %>
      <br><br><br>
      <h4>最近の投稿</h4>
      <div style="width:600px;height:300px;overflow:auto;border:solid;">
        <%= render "posts/index", posts: @user.posts %>
      </div>
      <br><br><br>
      <div id="events_calendar">
        <%= render partial: "calendar", locals: {user: @user} %>
      </div>
    </div>
  </div>
</div>