<div class="container px-5 my-5 px-sm-0">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-5 px-sm-0 mx-auto">
      <%= link_to "New", new_post_path, class: "btn btn-primary" %>
      <% @posts.each do |post| %>
        <div>
          <%= attachment_image_tag post.user, :profile_image, size:"60x60", fallback: "cheer.png" %>
          <%= post.user.name %>
          <%= post.content %>
          <%= attachment_image_tag post, :image, size:"150x150" %>
          <%= l post.created_at, format: :short %>
          <%= link_to "Show", post_path(post) %>
        </div>
      <% end %>
    </div>
  </div>
</div>