<div class="container px-5 my-5 px-sm-0">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-5 px-sm-0 mx-auto">
      <%= link_to "全て", posts_path %>
      <%= link_to "食事", posts_path(category: 0) %>
      <%= link_to "運動", posts_path(category: 1) %>
      <%= link_to "おすすめ", posts_path(category: 2) %>
      <%= link_to "失敗談", posts_path(category: 3) %>
      <br>
      <%= link_to "New", new_post_path, class: "btn btn-primary" %>
      <% @posts.each do |post| %>
        <div class="my-5">
          <%= attachment_image_tag post.user, :profile_image, size:"60x60", fallback: "cheer.png" %>
          <%= post.user.name %>
          <%= post.content %>
          <%= attachment_image_tag post, :image, size:"150x150" %><br>
          <%= l post.created_at, format: :short %><br>
          <%= post.category %>
          <% if post.cheered_by?(current_user) %>
            <%= link_to post.cheers.count, post_cheers_path(post), method: :delete, local: true, class: "fas fa-flag" %>
          <% else %>
            <%= link_to post.cheers.count, post_cheers_path(post), method: :post, local: true, class: "far fa-flag" %>
          <% end %>
          <%= post.post_comments.count %>コメント
          <%= link_to "Show", post_path(post) %>
        </div>
      <% end %>
    </div>
  </div>
</div>