<div class="container px-5 my-5 px-sm-0">
  <div class="row">
    <div class="col-sm-10 col-md-8 col-lg-6 px-5 px-sm-0 mx-auto">
      <h3 class="text-center mb-4">新規投稿</h3>
      <%= form_with model: @post, local:true do |f| %>
        <div class="form-group">
          <%= f.label :category, "カテゴリ" %>
          <%= f.select :category, Post.categories.keys, {prompt: "選択してください"}, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :content, "投稿内容" %>
          <%= f.text_area :content, class: "form-control", rows: "3" %>
        </div>
        <p class="text-center my-4">------------------以下の項目は任意です------------------</p>
        <div class="form-group">
          <%= f.label :image, "画像" %>
          <%= f.attachment_field :image, class: "form-control-file" %>
          <div class="mt-2"><img id="preview" style="width:100%;"></div>
        </div>
        <div class="form-group">
          <%= f.fields_for @post.spot do |s| %>
            <%= s.label :address, "場所(Google Mapで検索)" %>
            <%= s.text_field :address, placeholder: "スポットを入力", id: "address", class: 'form-control' %>
            <div class="my-2"><input type="button" value="検索" onclick="codeAddress()"></div>
            <div id="map", style="height: 320px; width: 100%;"></div>
          <% end %>
        </div>
        <div class="form-group text-center mt-5">
          <%= f.submit "投稿する", class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= javascript_include_tag "post.js" %>
<%= javascript_include_tag "googlemap.js" %>