<div class="container px-5 mb-5 px-sm-0">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-5 px-sm-0 mx-auto">
      <div id="post_<%= @post.id %>">
        <%= link_to "", posts_path, class: "fas fa-arrow-left fa-lg my-3" %>
        <table class="table table-borderless">
          <tr>
            <td style="width: 10%" class="align-middle text-center">
              <%= link_to user_path(@post.user) do %>
                <%= attachment_image_tag @post.user, :profile_image, size:"60x60", fallback: "cheer.jpeg", style: "border-radius: 50%" %><br>
                <%= @post.user.name %>
              <% end %>
            </td>
            <td style="width: 90%" class="align-middle">
              <%= safe_join(@post.content.split("\n"),tag(:br)) %><br>
              <% if @spot %>
                <%= link_to "＠#{@spot.address}", spot_path(@spot) %>
              <% end %>
            </td>
          </tr>
        </table>
        <%= attachment_image_tag @post, :image, class: "w-100", style: "border-radius: 3%" %><br>
        <div class="d-flex justify-content-around mt-2">
          <div><%= render "posts/category", post: @post %></div>
      	  <div class="cheer_btn"><%= render "cheers/cheer_btn", post: @post %></div>
          <div class="comments_count"><%= render "post_comments/comment_btn", post: @post %></div>
          <div>
            <% if @post.user == current_user %>
              <%= link_to post_path(@post), method: :delete, data: {confirm: "投稿を削除しますか？"} do %>
                <i class="fas fa-trash"></i>
              <% end %>
            <% else %>
              <% if current_user.following?(@post.user) %>
                <%= link_to "フォロー中", user_relationships_path(@post.user), method: :delete, class: "fas fa-user-check btn btn-primary btn-sm", data: {confirm: "フォローを外しますか？"} %>
              <% else %>
                <% if @post.user.is_valid == true %>
                  <%= link_to "フォローする", user_relationships_path(@post.user), method: :post, class: "fas fa-user-plus btn btn-success btn-sm" %>
                <% else %>
                  <%= link_to "フォローする", user_relationships_path(@post.user), method: :post, class: "fas fa-user-plus btn btn-success btn-sm disabled" %>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <div><%= l @post.created_at %></div>
        </div>
      </div>
      <table class="table post_comments mt-5">
        <%= render "post_comments/comment_index", post: @post %>
      </table>
      <%= form_with model:[@post,@post_comment], class: "text-center", remote: true do |f| %>
        <%= f.text_area :comment, placeholder: "コメント", class: "form-control" %>
        <%= f.submit "送信", class: "btn btn-success mt-3" %>
      <% end %>
    </div>
  </div>
</div>