<div class="container px-5 my-5 px-sm-0">
  <div class="row">
    <div class="col-sm-10 col-md-8 col-lg-6 px-5 px-sm-0 mx-auto">
      <div id="post_<%= @post.id %>">
        <table class="table table-borderless">
          <tr>
            <td style="width: 20%">
              <%= attachment_image_tag @post.user, :profile_image, size:"60x60", fallback: "cheer.jpeg", style: "border-radius: 50%" %>
              <%= @post.user.name %>
            </td>
            <td style="width: 80%" class="align-middle">
              <%= safe_join(@post.content.split("\n"),tag(:br)) %>
              <% if @spot %>
                <%= link_to "＠#{@spot.address}", spot_path(@spot) %>
              <% end %>
            </td>
          </tr>
        </table>
        <%= attachment_image_tag @post, :image, size:"600x500" %><br>
        <div class="d-flex justify-content-around mt-2">
          <div><%= render "posts/category", post: @post %></div>
      	  <div class="cheer_btn"><%= render "cheers/cheer_btn", post: @post %></div>
          <div class="comments_count"><%= render "post_comments/comment_btn", post: @post %></div>
          <div>
            <% if @post.user == current_user %>
              <%= link_to post_path(@post), method: :delete, data: {confirm: "投稿を削除しますか？"} do %>
                <i class="fas fa-trash"></i>
              <% end %>
            <% else %>
              <% if current_user.following?(@post.user) %>
                <%= link_to "フォロー中", user_relationships_path(@post.user), method: :delete, class: "fas fa-user-check btn btn-primary btn-sm", data: {confirm: "フォローを外しますか？"} %>
              <% else %>
                <%= link_to "フォローする", user_relationships_path(@post.user), method: :post, class: "fas fa-user-plus btn btn-success btn-sm" %>
              <% end %>
            <% end %>
          </div>
          <div><%= l @post.created_at %></div>
        </div>
      </div>
      <table class="table post_comments mt-5">
        <%= render "post_comments/comment_index", post: @post %>
      </table>
      <%= form_with model:[@post,@post_comment], class: "text-center", remote: true do |f| %>
        <%= f.text_area :comment, placeholder: "コメント", class: "form-control" %>
        <%= f.submit '送信', class: "mt-2" %>
      <% end %>
      <%= link_to "一覧に戻る", posts_path %>
    </div>
  </div>
</div>