<div class="text-center">
  <%= attachment_image_tag(current_user, :profile_image, size:'40x40', fallback: "cheer.jpeg", style: "border-radius: 50%") %>
  <%= current_user.name %>
  <table class="table mt-3">
    <tr>
      <td><%= current_user.posts.count %> 投稿</td>
    </tr>
    <tr>
      <td>
        <%= current_user.followings.count %> フォロー中
        <ul class="list-unstyled">
          <% current_user.followings.last(3).each do |f| %>
            <li class="my-2"><%= link_to f.name, user_path(f) %></li>
          <% end %>
          <% if current_user.followings.count > 3 %>
            <li><%= link_to ":", user_followings_path(current_user) %></li>
          <% end %>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <%= current_user.followers.count %> フォロワー
        <ul class="list-unstyled">
          <% current_user.followers.last(3).each do |f| %>
            <li class="my-2"><%= link_to f.name, user_path(f) %></li>
          <% end %>
          <% if current_user.followers.count > 3 %>
            <li><%= link_to ":", user_followers_path(current_user) %></li>
          <% end %>
        </ul>
      </td>
    </tr>
  </table>
  <%= link_to "マイページ", user_path(current_user), class: "btn btn-success" %>
</div>