<!DOCTYPE html>
<html>
  <head>
    <title>Cheers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="https://kit.fontawesome.com/839a2cc3de.js" crossorigin="anonymous"></script>
    <%= include_gon %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <main>
      <div id="notice"><%= notice %></div>
      <%= yield %>
    </main>
    <%= render "layouts/footer" %>
  </body>
</html>
